html,
body {
  height: 100%;
}

@font-face {
  font-family: "Misto";
  src: url(fonts/Misto.ttf);
}
@font-face {
  font-family: "TomatoKetchup-Regular";
  src: url(fonts/TomatoKetchup.otf);
}
@font-face {
  font-family: "TomatoKetchup-Bold";
  src: url(fonts/TomatoKetchup_Bold.otf);
}

:root {
  --width-1728: 1728px;
  --width-1280: 1280px;
  --width-834: 834px;
  --width-430: 430px;
  --width-375: 375px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --font-size-12: 12px;
  --color-white: #fff;
  --color-black: #000;
  --color-dark: #a9965f;
  --color-red: #af0a08;
  --space-10: 10px;
  --font-weight: 100;
}

.flex {
  font-family: "TomatoKetchup-Regular";
  font-size: calc(var(--font-size-20) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  height: 100%;
}
main .title {
  position: absolute;
  top: calc(var(--space-10) * 3);
  left: calc(var(--space-10) * 3);
  width: calc(var(--space-10) * 19);
  height: calc(var(--space-10) * 19);
  font-size: calc(var(--font-size-20) * 1.5);
  flex-direction: column;
  border-radius: 50%;
  background-color: var(--color-red);
}
main .title h1 {
  font-family: "Misto";
  color: #fff;
}
main .title h1:first-child {
  font-style: italic;
}
main .title img {
  position: absolute;
  width: 100%;
  left: calc(var(--space-10) * 13);
  top: calc(var(--space-10) * 3);
}
header {
  display: flex;
  justify-content: flex-end;
  height: calc(var(--space-10) * 30);
  position: relative;
  height: 37%;
  background: url(img/halfbg.png) top center/100% 100% no-repeat;
}
header .slogan {
  position: absolute;
  bottom: 0;
  right: calc(var(--space-10) * 10);
  color: var(--color-white);
  font-family: "CrimsonPro-Bold";
  font-size: calc(var(--font-size-20) * 3);
}
nav {
  font-family: "TomatoKetchup-Regular";
  padding-top: calc(var(--space-10) * 4);
  display: flex;
}
nav a {
  padding: 0 calc(var(--space-10));
  color: var(--color-white);
  margin-right: calc(var(--space-10) * 4);
  font-size: calc(var(--font-size-20) * 1.8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--space-10) * 2.5);
  border-radius: var(--space-10);
  background-color: var(--color-red);
}
nav a:hover {
  text-decoration: underline;
}

.info img {
  position: relative;
  top: calc(var(--space-10) * -5);
}

.story {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 35%;
}
.story .story-left {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.story .story-left button {
  width: calc(var(--space-10) * 10);
  background-color: var(--color-red);
  border-radius: var(--space-10);
  padding: calc(var(--space-10)) calc(var(--space-10) * 2);
  color: var(--color-white);
  text-align: center;
  margin-bottom: calc(var(--space-10) * 3);
  font-family: "TomatoKetchup-Regular";
  font-size: calc(var(--font-size-20) * 1.2);
}
.story img {
  width: 20%;
}
.story span {
  color: var(--color-black);
  font-size: calc(var(--font-size-20) * 1.5);
  font-weight: calc(var(--font-weight) * 6);
  font-family: "CrimsonPro-Regular";
  white-space: wrap;
}
footer {
  height: calc(var(--space-10) * 6);
  align-items: flex-end;
  background: url(img/footer.png) center/100% 100% no-repeat;
  margin-top: calc(var(--space-10) * 12);
  justify-content: space-between !important;
  padding: 0 5%;
}
footer p {
  color: var(--color-white);
  font-size: calc(var(--font-size-20) * 1.2);
}
@media screen and (min-width: 375px) and (max-width: 830px) {
  :root {
    --space-10: 5px;
  }
  header {
    height: calc(var(--space-10) * 40);
  }
  main .title {
    font-size: calc(var(--font-size-12) * 1.3);
  }
  main .title img {
    width: 80%;
    left: calc(var(--space-10) * 14);
    top: calc(var(--space-10) * 6);
  }
  nav {
    flex-direction: column;
    justify-content: flex-end;
  }
  nav a {
    font-size: calc(var(--font-size-12) * 1.3);
    height: calc(var(--space-10) * 5);
    border-radius: calc(var(--space-10) * 5);
    margin-bottom: calc(var(--space-10) * 2);
  }
  header .slogan {
    left: calc(var(--space-10) * 4);
    font-size: calc(var(--font-size-12) * 1.5);
  }
  .info {
    display: flex;
    justify-content: space-between;
  }
  .info img {
    width: calc(var(--space-10) * 10);
    height: calc(var(--space-10) * 10);
    top: calc(var(--space-10) * -1);
  }
  .story {
    all: unset;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1;
    flex-direction: column;
  }
  .story span {
    font-size: calc(var(--font-size-20));
    align-self: center;
  }
  .story img {
    width: 30%;
    align-self: center;
  }
  .story .story-left button {
    width: calc(var(--space-10) * 20);
  }
  .flex p {
    font-size: calc(var(--font-size-16));
  }
}
@media screen and (min-width: 834px) and (max-width: 1280px) {
  .info {
    display: flex;
    justify-content: space-between;
  }
  .info img {
    width: calc(var(--space-10) * 10);
    height: calc(var(--space-10) * 10);
    top: calc(var(--space-10) * -1);
  }
  .story {
    all: unset;
    width: 80%;
    height: calc(var(--space-10) * 58);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1;
    flex-direction: column;
  }
  .story span {
    font-size: calc(var(--font-size-20));
    align-self: center;
  }
  .story img {
    width: 30%;
    align-self: center;
  }
  .story .story-left button {
    width: calc(var(--space-10) * 20);
  }
}
@media screen and (min-width: 1280px) and (max-width: 1528px) {
  .info {
    display: flex;
    justify-content: space-between;
  }
  .info img {
    width: calc(var(--space-10) * 10);
    height: calc(var(--space-10) * 10);
    top: calc(var(--space-10) * -1);
  }
  .story {
    all: unset;
    width: 80%;
    height: calc(var(--space-10) * 58);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1;
    flex-direction: column;
  }
  .story span {
    font-size: calc(var(--font-size-20));
    align-self: center;
  }
  .story img {
    width: 30%;
    align-self: center;
  }
  .story .story-left button {
    width: calc(var(--space-10) * 20);
  }
}
@media screen and (min-width: 1700px) {
  .info {
    display: flex;
    justify-content: space-between;
  }
  .story {
    align-items: flex-start;
  }
  .story .story-left {
    flex: initial;
    width: 60%;
  }
  .story img {
    width: 22%;
  }
  .story .story-left button {
    margin-bottom: calc(var(--space-10) * 8);
  }
  footer {
    margin-top: calc(var(--space-10) * 6);
  }
}
