html,
body {
  height: 100%;
}

@font-face {
  font-family: "Misto";
  src: url(fonts/Misto.ttf);
}
@font-face {
  font-family: "CrimsonPro-Regular";
  src: url(fonts/CrimsonPro-Regular.ttf);
}
@font-face {
  font-family: "CrimsonPro-Bold";
  src: url(fonts/CrimsonPro-Bold.ttf);
}
@font-face {
  font-family: "TomatoKetchup-Regular";
  src: url(fonts/TomatoKetchup.otf);
}
@font-face {
  font-family: "TomatoKetchup-Bold";
  src: url(fonts/TomatoKetchup_Bold.otf);
}

:root {
  --width-1728: 1728px;
  --width-1280: 1280px;
  --width-834: 834px;
  --width-430: 430px;
  --width-375: 375px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --font-size-12: 12px;
  --color-white: #fff;
  --color-black: #000;
  --color-red: #af0a08;
  --color-darkred: #8f0002;
  --space-10: 10px;
  --font-weight: 100;
}

.flex {
  font-family: "TomatoKetchup-Regular";
  font-size: calc(var(--font-size-20) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

main .title {
  position: absolute;
  top: calc(var(--space-10) * 3);
  left: calc(var(--space-10) * 3);
  width: calc(var(--space-10) * 19);
  height: calc(var(--space-10) * 19);
  font-size: calc(var(--font-size-20) * 1.5);
  flex-direction: column;
  border-radius: 50%;
  background-color: var(--color-red);
}
main .title h1 {
  font-family: "Misto";
  color: #fff;
}
main .title h1:first-child {
  font-style: italic;
}
main .title img {
  position: absolute;
  width: 100%;
  left: calc(var(--space-10) * 13);
  top: calc(var(--space-10) * 3);
}
header {
  display: flex;
  justify-content: flex-end;
  height: calc(var(--space-10) * 30);
  position: relative;
  background: url(img/halfbg.png) center center/100% 100% no-repeat;
}
header .slogan {
  position: absolute;
  bottom: 0;
  right: calc(var(--space-10) * 10);
  color: var(--color-white);
  font-family: "CrimsonPro-Bold";
  font-size: calc(var(--font-size-20) * 3);
}
nav {
  font-family: "TomatoKetchup-Regular";
  padding-top: calc(var(--space-10) * 4);
  display: flex;
}
nav a {
  padding: 0 calc(var(--space-10));
  color: var(--color-white);
  margin-right: calc(var(--space-10) * 4);
  font-size: calc(var(--font-size-20) * 1.8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--space-10) * 2.5);
  border-radius: var(--space-10);
  background-color: var(--color-red);
}
nav a:hover {
  text-decoration: underline;
}

.info {
  height: calc(var(--space-10) * 55);
}
.info .container {
  height: 100%;
  padding: calc(var(--space-10) * 2) calc(var(--space-10) * 5);
  padding-top: calc(var(--space-10) * 5);
  display: flex;
  align-items: flex-start;
}

.info .container img {
  width: 34%;
  height: 65%;
  border-radius: calc(var(--space-10) * 0.5);
}

.info .container-right {
  width: calc(var(--space-10) * 60);
  margin-left: calc(var(--space-10) * 15);
}

.container-right p {
  font-weight: calc(var(--font-weight) * 6);
  font-family: "TomatoKetchup-Regular";
}
.container-right .name {
  display: flex;
  align-items: center;
}
.container-right p:first-child {
  margin-bottom: calc(var(--space-10) * 2);
}
.container-right .span-p {
  display: block;
  font-family: "CrimsonPro-Regular";
  white-space: pre-wrap;
}
.container-right .name span {
  background-color: var(--color-red);
  color: var(--color-white);
  display: block;
  height: calc(var(--space-10) * 5);
  line-height: calc(var(--space-10) * 5);
  border-radius: var(--space-10);
  padding-inline: calc(var(--space-10) * 1.5);
  font-size: calc(var(--font-size-20) * 1.5);
}
.container-right .name span:first-child {
  margin-right: calc(var(--space-10) * 10);
}

.container-right p span:last-child {
  font-size: calc(var(--font-size-18) * 1.2);
}
.container-right .span-subtitle {
  font-size: calc(var(--font-size-18) * 1.6);
}
.container-right .recipe span:last-child {
  margin-bottom: calc(var(--space-10) * 2);
}

footer {
  height: calc(var(--space-10) * 6);
  align-items: flex-end;
  background: url(img/footer.png) center/100% 100% no-repeat;
  margin-top: calc(var(--space-10) * 12);
  justify-content: space-between !important;
  padding: 0 5%;
}
footer p {
  color: var(--color-white);
  font-size: calc(var(--font-size-20) * 1.2);
}
.back-button {
  width: calc(var(--space-10) * 6);
  height: calc(var(--space-10) * 6);
  padding: var(--space-10);
  border-radius: 50%;
  background-color: var(--color-darkred);
  position: fixed;
  bottom: calc(var(--space-10) * 8);
  right: calc(var(--space-10) * 3);
  transform: rotate(-90deg);
  cursor: pointer;
}
@media screen and (min-width: 375px) and (max-width: 430px) {
  :root {
    --space-10: 5px;
  }
  header {
    height: calc(var(--space-10) * 40);
  }
  main .title {
    font-size: calc(var(--font-size-12) * 1.3);
  }
  main .title img {
    width: 80%;
    left: calc(var(--space-10) * 14);
    top: calc(var(--space-10) * 6);
  }
  nav {
    flex-direction: column;
    justify-content: flex-end;
  }
  nav a {
    font-size: calc(var(--font-size-12) * 1.3);
    height: calc(var(--space-10) * 5);
    border-radius: calc(var(--space-10) * 5);
    margin-bottom: calc(var(--space-10) * 2);
  }
  header .slogan {
    left: calc(var(--space-10) * 4);
    font-size: calc(var(--font-size-12) * 1.5);
  }
  .info {
    height: calc(var(--space-10) * 120);
  }
  .info .container {
    flex-direction: column;
    align-items: center;
  }
  .info .container img {
    width: 80%;
    height: 30%;
    border-radius: calc(var(--space-10) * 2);
  }
  .info .container-right {
    width: 80%;
    margin-left: 0;
    padding: calc(var(--space-10));
  }
  .container-right .name {
    justify-content: space-between;
  }
  .container-right .name span {
    font-size: calc(var(--font-size-12));
  }
  .container-right p span:last-child {
    font-size: calc(var(--font-size-12));
  }
  .container-right .name span:first-child {
    margin-right: 0;
  }
  .container-right .span-subtitle {
    font-size: calc(var(--font-size-20));
  }
  .flex p {
    font-size: calc(var(--font-size-16));
  }
}
@media screen and (min-width: 430px) and (max-width: 630px) {
  :root {
    --space-10: 5px;
  }
  header {
    height: calc(var(--space-10) * 30);
  }
  main .title {
    font-size: calc(var(--font-size-12) * 1.3);
  }
  main .title img {
    width: 80%;
    height: 70%;
    left: calc(var(--space-10) * 14);
    top: calc(var(--space-10) * 6);
  }
  nav {
    flex-direction: column;
    justify-content: flex-end;
  }
  nav a {
    font-size: calc(var(--font-size-12) * 1.3);
    height: calc(var(--space-10) * 5);
    border-radius: calc(var(--space-10) * 5);
    margin-bottom: calc(var(--space-10) * 2);
  }
  header .slogan {
    left: calc(var(--space-10) * 4);
    font-size: calc(var(--font-size-12) * 1.5);
  }
  main {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .info {
    flex: 1;
  }
  .info .container {
    flex-direction: column;
    align-items: center;
  }
  .info .container img {
    width: 80%;
    border-radius: calc(var(--space-10) * 2);
  }
  .info .container-right {
    width: 80%;
    margin-left: 0;
    padding: calc(var(--space-10));
  }
  .container-right .name {
    justify-content: space-between;
  }
  .container-right .name span {
    font-size: calc(var(--font-size-12));
  }
  .container-right p span:last-child {
    font-size: calc(var(--font-size-12));
  }
  .container-right .name span:first-child {
    margin-right: 0;
  }
  .container-right .span-subtitle {
    font-size: calc(var(--font-size-20));
  }
  .flex p {
    font-size: calc(var(--font-size-16));
  }
}
@media screen and (min-width: 630px) and (max-width: 830px) {
  :root {
    --space-10: 5px;
  }
  header {
    height: calc(var(--space-10) * 40);
  }
  main .title {
    font-size: calc(var(--font-size-12) * 1.3);
  }
  main .title img {
    width: 80%;
    height: 70%;
    left: calc(var(--space-10) * 14);
    top: calc(var(--space-10) * 6);
  }
  nav {
    flex-direction: column;
    justify-content: flex-end;
  }
  nav a {
    font-size: calc(var(--font-size-12) * 1.3);
    height: calc(var(--space-10) * 5);
    border-radius: calc(var(--space-10) * 5);
    margin-bottom: calc(var(--space-10) * 2);
  }
  header .slogan {
    left: calc(var(--space-10) * 4);
    font-size: calc(var(--font-size-12) * 1.5);
  }
  main {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .info {
    flex: 1;
  }
  .info .container {
    flex-direction: column;
    align-items: center;
  }
  .info .container img {
    width: 80%;
    height: 55%;
    border-radius: calc(var(--space-10) * 2);
  }
  .info .container-right {
    width: 80%;
    margin-left: 0;
    padding: calc(var(--space-10));
  }
  .container-right .name {
    justify-content: space-between;
    margin-top: calc(var(--space-10) * 2);
  }
  .container-right .name span {
    font-size: calc(var(--font-size-12));
  }
  .container-right p span:last-child {
    font-size: calc(var(--font-size-12));
  }
  .container-right .name span:first-child {
    margin-right: 0;
  }
  .container-right .span-subtitle {
    font-size: calc(var(--font-size-20));
  }
  .flex p {
    font-size: calc(var(--font-size-16));
  }
}
@media screen and (min-width: 831px) and (max-width: 1280px) {
  main {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .info {
    height: initial;
    flex: 1;
  }
  .info .container img {
    width: 40%;
    height: 37%;
  }
  .flex {
    margin-top: 0;
  }
  .container-right .name span {
    font-size: calc(var(--font-size-16));
  }
  .container-right .name span:first-child {
    width: calc(var(--space-10) * 15);
    text-align: center;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1520px) {
  .info {
    height: calc(var(--space-10) * 70);
  }
  .info .container img {
    height: 55%;
  }
  .flex {
    margin-top: 0;
  }
}
@media screen and (min-width: 1520px) and (max-width: 1728px) {
  .info {
    height: calc(var(--space-10) * 70);
  }
  .info .container img {
    height: 55%;
  }
  .flex {
    margin-top: calc(var(--space-10) * 2);
  }
}
@media screen and (min-width: 1728px) {
  .info {
    height: calc(var(--space-10) * 60);
  }
  .flex {
    margin-top: calc(var(--space-10) * 2);
  }
}
